{{ template "base" . }}

{{ define "content" }}
<section class="hero">
  <h1>A Social Network that runs on peanuts</h1>
  <p>
    Your home feed should be filled with what matters to you most, not what a
    corporation thinks you should see. Radically different social media, back in
    the hands of the people.
  </p>
</section>
{{ end }}

{{ define "style" }}
<style>
  .hero {
    padding: 3rem;
    text-align: center;
  }
  .hero h1 {
    font-size: 3rem;
  }
</style>
{{ end }}
