{{ template "base" . }}

{{ define "content" }}
<h1>This is the homepage</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ipsa vel
  maxime soluta ratione dolore iste assumenda dolorum quasi eligendi cupiditate
  eum alias, tempore accusantium vitae placeat tenetur expedita explicabo.
</p>
{{ end }}
