{{ define "primary_inner" }}
  <ul class="links">
    <li>
      <a href="/threads" alt="home">
        <box-icon name="home-smile"></box-icon>
      </a>
    </li>
    <li>
      <a href="/search" alt="search">
        <box-icon name="search"></box-icon>
      </a>
    </li>
    <li>
      <a href="/threads/new" alt="new thread">
        <box-icon name="edit"></box-icon>
      </a>
    </li>
    <li>
      <a href="/activities" alt="favorite">
        <box-icon name="heart"></box-icon>
      </a>
    </li>
    <li>
      <a href="/profiles/show" alt="profile">
        <box-icon name="user"></box-icon>
      </a>
    </li>
  </ul>
{{ end }}
