{{ define "app" }}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" .}}Goti{{ end }}</title>

    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />

    <!-- Eventually we will allow custom Pico themes editing a config file -->
    <link rel="stylesheet" href="/assets/css/themes/pico.min.css" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body>
    <header>{{ block "header" .}}{{ end }}</header>
    <nav id="primary-menu">{{ block "primary" .}}{{ end }}</nav>

    <main>
      <div class="container">
        {{ template "flash" .}}
        {{ template "content" .}}
      </div>
    </main>

    <!-- All Style Scripts Here -->
    {{ block "style" .}}{{ end }}

    <!-- All JS Scripts Here -->
    <script src="/assets/scripts/htmx.min.js"></script>
    <script src="/assets/scripts/boxicons.js"></script>
    <script src="/assets/scripts/just-validate.production.min.js"></script>
    <script src="/assets/scripts/global.js"></script>
    {{ block "script" .}}{{ end }}
  </body>
</html>

{{ end }}
