{{ define "app" }}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" .}}{{ end }}</title>

    <link rel="icon" href="/assets/images/favicon.svg" type="image/x-icon" />

    <!-- Eventually we will allow custom Pico themes editing a config file -->
    <link rel="stylesheet" href="/assets/css/themes/pico.min.css" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="/users/profile">
          <img src="/assets/images/logoIcon.svg" alt="Logo" />
        </a>
      </div>
      <div id="hamburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div id="secondary-menu">
        <ul class="links">
          <li><a href="#">Appearance</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Saved</a></li>
          <li><a href="#">Your likes</a></li>
          <li><a href="/auth/logout">Log Out</a></li>
        </ul>
      </div>
    </header>

    <nav id="primary-menu">
      <ul class="links">
        <li>
          <a href="/users/profile" alt="home">
            <box-icon name="home-smile" color="white" type="solid"></box-icon>
          </a>
        </li>
        <li>
          <a href="/#" alt="search">
            <box-icon name="search-alt" color="white"></box-icon>
          </a>
        </li>
        <li>
          <a href="/#" alt="edit">
            <box-icon name="edit" color="white"></box-icon>
          </a>
        </li>
        <li>
          <a href="/#" alt="favorite">
            <box-icon name="heart" color="white" type="solid"></box-icon>
          </a>
        </li>
        <li>
          <a href="/#" alt="profile">
            <box-icon name="user" color="white" type="solid"></box-icon>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="container">
        {{ if .Flash.Message }}
        <div class="flash {{ .Flash.Type }}">
          {{ .Flash.Message }}
        </div>
        {{ end }}

        {{ template "content" .}}
      </div>
    </main>

    <!-- All Style Scripts Here -->
    {{ block "style" .}}{{ end }}

    <!-- All JS Scripts Here -->
    <script src="/assets/scripts/htmx.min.js"></script>
    <script src="/assets/scripts/boxicons.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/assets/scripts/just-validate.production.min.js"></script>
    <script src="/assets/scripts/global.js"></script>
    {{ block "script" .}}{{ end }}
  </body>
</html>

{{ end }}
