{{ define "title" }}Timeline Home{{ end }}

{{ define "content" }}
  <h1>Timeline Index</h1>
  {{ if .Threads }}
    {{ range .Threads }}
      {{ template "thread" . }}
    {{ end }}
  {{ else }}
    <p>No timelines found.</p>
  {{ end }}
{{ end }}
