# Configuration File
# This file contains a sample configuration for the server
# Copy file, rename copy to .env for production use

# The server will run on the port specified below
PORT = 80

# Please modify the session key pairs below to create a more secure session
AUTH_KEY=mjXbbZzc/g5xXtHzyvcU6U53E3o=
ENCRYPTION_KEY=1AQSwxgS19le26xnJNVPwmrUbI0=

# Set Session Options
# Hint: There are 86,400 seconds a day.  Default is set to 7 day (86,400 * 1)
MAX_AGE=604800