{{ define "title" }}Edit Profile Photo{{ end }}

{{ define "primary_outer" }}
  <div style="display: none"></div>
{{ end }}

{{ define "header_outer" }}
  <header class="header-override">
    <div class="header-override__box">
      <a href="/profiles/show" class="header-override__cancel">Cancel</a>
    </div>
    <div class="header-override__box">
      <strong class="header-override__description">Edit Profile</strong>
    </div>
    <div class="header-override__box">
      <a
        href="#"
        class="header-override__submit"
        onclick="document.querySelector('#profile__form').submit();return false;"
      >
        Done
      </a>
    </div>
  </header>
{{ end }}

{{ define "content" }}
  <article id="profile-photo-edit">
    <div id="croppie-container">
      {{ if .Profile.Avatar.Valid }}
        <img id="croppie" src="{{ .Profile.Avatar.String }}" />
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            initializeCroppie();
          });
        </script>
      {{ end }}
    </div>

    <form
      enctype="multipart/form-data"
      action="/profiles/edit/photo"
      method="POST"
      id="profile-photo-edit__form"
    >
      <fieldset>
        <label for="name">Name</label>
        <input
          type="file"
          name="avatar"
          id="avatar"
          aria-label="avatar"
          accept="image/*"
          hx-post="/profiles/create/photo"
          hx-target="#croppie-container"
          hx-swap="innerHTML"
          hx-encoding="multipart/form-data"
        />
      </fieldset>
      <button>Done</button>
    </form>
    <br />

    <form
      action="/profiles/delete/photo"
      method="POST"
      id="profile-photo-delete__form"
    >
      <button class="button-to-link">Delete</button>
    </form>
  </article>
{{ end }}

{{ define "script" }}
  <script src="/assets/scripts/lib/exif.js"></script>
  <script src="/assets/scripts/lib/croppie.min.js"></script>
  <script type="application/javascript">
    function initializeCroppie() {
      /* Croppie Code*/
      let opts = {
        enableExif: true,
        viewport: { width: 200, height: 200, type: "circle" },
        boundary: { width: 300, height: 300 },
      };
      let c = new Croppie(document.getElementById("croppie"), opts);
    }
    document.addEventListener("htmx:afterRequest", function (e) {
      if (e.detail.target.id === "croppie-container") {
        initializeCroppie();
      }
    });
  </script>
{{ end }}

{{ define "style" }}
  <link rel="stylesheet" href="/assets/css/lib/croppie.css" />
{{ end }}
