{{ define "title" }}Edit Profile{{ end }}

{{ define "primary_outer" }}
  <div style="display: none"></div>
{{ end }}

{{ define "header_outer" }}
  <header class="header-override">
    <div class="header-override__box">
      <a href="/profiles/show" class="header-override__cancel">Cancel</a>
    </div>
    <div class="header-override__box">
      <strong class="header-override__description">Edit Profile</strong>
    </div>
    <div class="header-override__box">
      <a href="#" class="header-override__submit">Done</a>
    </div>
  </header>
{{ end }}

{{ define "content" }}
  <article id="profile-edit">
    <form action="/profiles/edit" method="POST" id="profile__form">
      <fieldset>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Please enter name"
          aria-label="name"
        />
      </fieldset>
      <fieldset>
        <label for="bio">Bio</label>
        <input
          type="text"
          name="bio"
          id="bio"
          placeholder="Write bio"
          aria-label="bio"
        />
      </fieldset>
      <fieldset>
        <label for="bio">Link</label>
        <input
          type="text"
          name="link"
          id="link"
          placeholder="Add link"
          aria-label="bio"
        />
      </fieldset>
      <fieldset class="private-profile">
        <span>Private Profile</span>
        <input
          type="checkbox"
          name="private"
          id="private"
          class="toggle__checkbox"
          aria-label="private"
        />
        <label for="private" class="toggle__label"></label>
      </fieldset>
      <br />
      <button>Done</button>
    </form>
  </article>
{{ end }}
