{{ define "title" }}Edit Profile{{ end }}

{{ define "primary_outer" }}
  <div style="display: none"></div>
{{ end }}

{{ define "header_outer" }}
  <header class="header-override">
    <div class="header-override__box">
      <a href="/profiles/show" class="header-override__cancel">Cancel</a>
    </div>
    <div class="header-override__box">
      <strong class="header-override__description">Edit Profile</strong>
    </div>
    <div class="header-override__box">
      <a
        href="#"
        class="header-override__submit"
        onclick="document.querySelector('#profile__form').submit();return false;"
      >
        Done
      </a>
    </div>
  </header>
{{ end }}

{{ define "content" }}
  <article id="profile-edit">
    <form action="/profiles/edit" method="POST" id="profile__form">
      <fieldset>
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Please enter name"
          aria-label="name"
          {{ if .Profile.Name.Valid }}
            value="{{ .Profile.Name.String }}"
          {{ end }}
        />
      </fieldset>
      <fieldset>
        <label for="bio">Bio</label>
        <input
          type="text"
          name="bio"
          id="bio"
          placeholder="Write bio"
          aria-label="bio"
          {{ if .Profile.Bio.Valid }}
            value="{{ .Profile.Bio.String }}"
          {{ end }}
        />
      </fieldset>
      <fieldset>
        <label for="bio">Link</label>
        <input
          type="text"
          name="link"
          id="link"
          placeholder="Add link"
          aria-label="link"
          {{ if .Profile.Link.Valid }}
            value="{{ .Profile.Link.String }}"
          {{ end }}
        />
      </fieldset>
      <fieldset class="private-profile">
        <span>Private Profile</span>
        <input
          type="checkbox"
          name="private"
          id="private"
          class="toggle__checkbox"
          aria-label="private"
          {{ if .Profile.Private.Valid }}
            value="{{ .Profile.Private.Int64 }}"
          {{ end }}
        />
        <label for="private" class="toggle__label"></label>
      </fieldset>
      <br />
      <button>Done</button>
    </form>
  </article>
{{ end }}
