{{ define "title" }}Edit Profile Photo{{ end }}

{{ define "primary_outer" }}
  <div style="display: none"></div>
{{ end }}

{{ define "header_outer" }}
  <header class="header-override">
    <div class="header-override__box">
      <a href="/profiles/show" class="header-override__cancel">Cancel</a>
    </div>
    <div class="header-override__box">
      <strong class="header-override__description">Edit Profile</strong>
    </div>
    <div class="header-override__box">
      <a
        href="#"
        class="header-override__submit"
        onclick="document.querySelector('#profile__form').submit();return false;"
      >
        Done
      </a>
    </div>
  </header>
{{ end }}

{{ define "content" }}
  <article id="profile-photo-edit">
    <div id="croppie"></div>

    <!-- Create Photo Form -->
    <!-- <form
      enctype="multipart/form-data"
      action="/profiles/create/photo"
      method="POST"
      id="profile-photo-create__form"
    >
      <fieldset>
        <label for="name">Name</label>
        <input
          type="file"
          name="avatar"
          id="profile-photo-create___avatar"
          aria-label="avatar"
          accept="image/*"
        />
      </fieldset>
    </form> -->

    <!-- Edit Photo Form -->
    <form
      action="/profiles/edit/photo"
      method="POST"
      id="profile-photo-edit__form"
    >
      <input
        type="file"
        name="file"
        id="file"
        aria-label="file"
        accept="image/*"
      />
      <input type="hidden" name="avatar_base64" id="avatar_base64" />
      <button id="profile-photo-edit__button">Done</button>
    </form>
    <br />

    <!-- Delete Photo Form -->
    <form
      action="/profiles/delete/photo"
      method="POST"
      id="profile-photo-delete__form"
    >
      <button class="button-to-link">Delete</button>
    </form>
  </article>
{{ end }}

{{ define "script" }}
  <script src="/assets/scripts/lib/exif.js"></script>
  <script src="/assets/scripts/lib/croppie.min.js"></script>
  <script type="application/javascript">
    // Croppie State
    let croppie = null;

    // Croppie Functions
    function buildCroppie(id) {
      let opts = {
        enableExif: true,
        viewport: { width: 200, height: 200, type: "circle" },
        boundary: { width: 300, height: 300 },
      };
      return new Croppie(document.getElementById(id), opts);
    }

    function destroyCroppieIfExist() {
      let oldCroppie = document.querySelector(".croppie-container");
      if (oldCroppie) {
        croppie.destroy();
      }
    }

    function bindFileToCroppie(e) {
      // Create New FileReader
      let reader = new FileReader(file);

      // Setup FileReader OnLoad Function
      reader.onload = function (e) {
        // Create new croppie
        croppie = buildCroppie("croppie");
        croppie.bind({
          url: e.target.result,
        });
      };

      // Read the file as DataURL
      reader.readAsDataURL(e.target.files[0]);
    }

    // Bind file to croppie when user uploads a file
    document.getElementById("file").addEventListener("change", function (e) {
      destroyCroppieIfExist();
      bindFileToCroppie(e);
    });

    // If the user clicks the Done button, submit the form
    const profilePhotoEditBtn = document.querySelector(
      "#profile-photo-edit__button",
    );

    // If the user clicks the Done button, submit the form
    profilePhotoEditBtn.addEventListener("click", function (e) {
      e.preventDefault();
      croppie
        .result({
          type: "base64",
          size: { width: 200, height: 200 },
        })
        .then(function (base64) {
          let avatar = document.getElementById("avatar_base64");
          avatar.value = base64;
          document.getElementById("profile-photo-edit__form").submit();
        });
    });
  </script>

  {{ if .Profile.Avatar.Valid }}
  <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", function () {
      // Start Croppie
      croppie = buildCroppie("croppie");
      croppie.bind({
        url: "{{ .Profile.Avatar.String }}",
      });
    });
  </script>
  {{ end }}
{{ end }}

{{ define "style" }}
  <link rel="stylesheet" href="/assets/css/lib/croppie.css" />
{{ end }}
