{{ define "title" }}Profile Page{{ end }}

{{ define "content" }}
<div id="profile">
  <h1>{{.User.Username}}</h1>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est possimus ipsam
  non, laborum, expedita pariatur aperiam recusandae corporis adipisci numquam
  cupiditate? Fugiat, veritatis omnis atque doloremque inventore vero ducimus
  libero?
</p>
{{ end }}
