{{ define "title" }}Profile Page{{ end }}

{{ define "content" }}
  <div id="profile">
    <div id="profile__left">
      <h2 class="profile__heading">{{ .Profile.Name.String }}</h2>
      <h5 class="profile__heading">{{ .Username }}</h5>
      <div id="follower">
        <div class="avatars"></div>
        <p>0 Followers</p>
      </div>
    </div>
    <div id="profile__right">
      <div class="avatar">
        {{ if .Profile.Avatar.Valid }}
          <img
            src="{{ .Profile.Avatar.String }}"
            alt="{{ .Profile.Name.String }}"
          />
        {{ else }}
          <div class="avatar-placeholder">
            <box-icon
              name="user"
              color="white"
              type="solid"
              size="5rem"
              class="avatar-placeholder__icon"
            ></box-icon>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div id="edit-profile">
    <a href="/profiles/edit">
      <button class="edit-profile__button">Edit Profile</button>
    </a>
  </div>

  <div id="activity">
    <div id="activity__menu">
      <a
        href="#"
        class="active activity__link"
        hx-get="/threads/user-threads"
        hx-target="#display"
        hx-swap="innerHTML"
        hx-trigger="load, click"
        >Threads</a
      >
      <a
        href="#"
        class="activity__link"
        hx-get="/threads/user-replies"
        hx-target="#display"
        hx-swap="innerHTML"
        >Replies</a
      >
      <a
        href="#"
        class="activity__link"
        hx-get="/threads/user-repost"
        hx-target="#display"
        hx-swap="innerHTML"
        >Repost</a
      >
    </div>

    <div id="display"></div>
  </div>
{{ end }}

{{ define "style" }}
  <style>
    #profile .avatar-placeholder {
      width: 4.5rem;
      height: 4.5rem;
      float: right;
    }
    #profile .avatar-placeholder__icon {
      margin-top: 1.6rem;
    }
  </style>
{{ end }}

{{ define "script" }}
  <script type="application/javascript">
    // Toggle active class on menu items
    const menu = document.querySelector("#activity__menu");

    menu.addEventListener("click", (e) => {
      if (e.target.tagName === "A") {
        menu.querySelector(".active").classList.remove("active");
        e.target.classList.add("active");
      }
    });
  </script>
{{ end }}
