{{ define "base" }}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <!-- Eventually we will allow custom Pico themes editing a config file -->
    <link rel="stylesheet" href="/static/css/themes/pico.min.css" />
    <link rel="stylesheet" href="/static/css/global.css" />

    {{ block "css" .}}
    <!-- prettier-ignore -->
    {{ end }}
  </head>
  <body>
    <header>
      <nav>
        {{template "navigation" .}}
      </nav>
    </header>

    <main class="container">{{ block "content" .}}{{ end }}</main>

    <footer>Copyright 2024 Larry LW Chan</footer>

    <!-- All JS Scripts Here -->
    <script src="/static/scripts/htmx.min.js"></script>
    {{ block "js" .}}{{ end }}
  </body>
</html>

{{ end }}
