{{ define "libraries" }}
<script src="/assets/scripts/htmx.min.js"></script>
<script src="/assets/scripts/boxicons.js"></script>
<script src="/assets/scripts/just-validate.production.min.js"></script>

{{ end }}
