{{ define "primary" }}
<ul class="links">
  <li>
    <a href="/users/profile" alt="home">
      <box-icon name="home-smile" color="white" type="solid"></box-icon>
    </a>
  </li>
  <li>
    <a href="/#" alt="search">
      <box-icon name="search-alt" color="white"></box-icon>
    </a>
  </li>
  <li>
    <a href="/#" alt="edit">
      <box-icon name="edit" color="white"></box-icon>
    </a>
  </li>
  <li>
    <a href="/#" alt="favorite">
      <box-icon name="heart" color="white" type="solid"></box-icon>
    </a>
  </li>
  <li>
    <a href="/#" alt="profile">
      <box-icon name="user" color="white" type="solid"></box-icon>
    </a>
  </li>
</ul>
{{ end }}
