{{ define "primary_inner" }}
  <ul class="links">
    <li>
      <a href="/threads" alt="home">
        <box-icon name="home-smile" color="white" type="solid"></box-icon>
      </a>
    </li>
    <li>
      <a href="/search" alt="search">
        <box-icon name="search-alt" color="white"></box-icon>
      </a>
    </li>
    <li>
      <a href="/threads/new" alt="new thread">
        <box-icon name="edit" color="white"></box-icon>
      </a>
    </li>
    <li>
      <a href="/relationships" alt="favorite">
        <box-icon name="heart" color="white" type="solid"></box-icon>
      </a>
    </li>
    <li>
      <a href="/profiles/show" alt="profile">
        <box-icon name="user" color="white" type="solid"></box-icon>
      </a>
    </li>
  </ul>
{{ end }}
