{{ define "thread" }}
  <article class="thread">
    <aside class="thread__aside">
      {{ if .Avatar.Valid }}
        <div class="avatar">
          <img src="{{ .Avatar.String }}" alt="{{ .Avatar.String }}" />
        </div>
      {{ else }}
        <div class="avatar">
          <box-icon
            name="user"
            color="white"
            type="solid"
            size="2.5rem"
            class="avatar-placeholder__icon"
          ></box-icon>
        </div>
      {{ end }}
    </aside>
    <div class="thread__container">
      <h5 class="thread__username">
        <a href="/profiles/{{ .Username }}">{{ .Username }}</a>
      </h5>
      <div class="thread__content">
        <a href="/threads/{{ .ID }}">
          {{ .Content }}
        </a>
      </div>
    </div>
  </article>
{{ end }}
