/* Body Styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header Styling */
header {
    background-color: var(--pico-primary-background);
}

header > nav {
    justify-content: space-between;
}

header .logo img {
    height: 3.8rem;
}

header .primary-nav ul {
    gap: 2rem;
}

header .primary-nav a {
    color: white;
    font-size: 1.1rem;
}

/* Main Styling */
main {

}



/* Footer Styling */
footer {
    font-size: 1rem;
    margin-top: auto;
}

footer .legal {
    font-size: 0.8rem;
    color: var(--pico-muted-color);
}