{{ define "title" }}Timeline Home{{ end }}

{{ define "content" }}
  <h1>Timeline Index</h1>
  {{ if .Threads }}
    {{ range .Threads }}
      <article class="thread">
        <aside class="thread__aside">
          {{ template "avatar" .Avatar }}
        </aside>
        <div class="thread__container">
          {{ template "username" . }}
          {{ template "thread-content" . }}
          <div class="thread__interactive">
            {{ template "thread-menu" . }}
            {{ template "thread-status" . }}
          </div>
        </div>
      </article>
    {{ end }}
  {{ else }}
    <p>No timelines found.</p>
  {{ end }}
{{ end }}
