{{ define "title" }}Show Thread{{ end }}

{{ define "content" }}
  <article class="thread">
    <aside class="thread__aside">
      {{ template "avatar" .Thread.Avatar }}
    </aside>
    <div class="thread__container">
      {{ template "username" .Thread }}
      {{ template "thread-content" .Thread }}
      {{ template "menu-icon-status" . }}
  </article>
{{ end }}
