{{ define "title" }}Show Thread{{ end }}

{{ define "content" }}
  <article class="thread-show">
    <div class="thread-show__user">
      {{ template "avatar" .Thread.Avatar }}
      {{ template "username" .Thread }}
    </div>

    <div class="thread__container">
      {{ template "thread-content" .Thread }}
      <div class="thread__interactive">
        {{ template "thread-menu" .Thread }}
        {{ template "thread-status" .Thread }}
      </div>
    </div>
  </article>
{{ end }}
