<div class="thread__icons">
  <a
    href="#"
    hx-post="/threads/likes/{{ .ThreadId }}"
    hx-target="closest .thread__interactive"
  >
    {{ if .LikeStatus }}
      <box-icon name="heart" color="white" type="solid"></box-icon>
    {{ else }}
      <box-icon name="heart" color="white"></box-icon>
    {{ end }}
  </a>
  <a href="#">
    <box-icon name="chat" color="white"></box-icon>
  </a>
  <a href="#">
    <box-icon name="repost" color="white"></box-icon>
  </a>
  <a href="#">
    <box-icon name="share" color="white"></box-icon>
  </a>
</div>
<div class="thread__status">
  <span class="thread__status__likes">
    {{ if .LikeCount }}
      {{ .LikeCount }}
    {{ else }}
      0
    {{ end }}
    likes
  </span>
</div>
