<div id="user-threads">
  {{ if .Threads }}
    {{ range .Threads }}
      <article class="thread">
        <aside class="thread__aside">
          {{ template "avatar" .Avatar }}
        </aside>
        <div class="thread__container">
          {{ template "username" . }}
          {{ template "thread-content" . }}
          <div class="thread__interactive">
            {{ template "thread-menu" . }}
            {{ template "thread-status" . }}
          </div>
        </div>
      </article>
    {{ end }}
  {{ else }}
    <a href="/threads/new">
      <button>Start your first thread</button>
    </a>
  {{ end }}
</div>
