<div id="user-repost">
  {{ if .Threads }}
    {{ range .Threads }}
      {{ template "thread" . }}
    {{ end }}
  {{ else }}
    <a href="/threads/new">
      <button>Start your first thread</button>
    </a>
  {{ end }}
</div>
