{{ range .Profiles }}
  <div class="profile">
    <div class="profile__image">
      {{ if .Avatar.Valid }}
        <div class="avatar">
          <img src="{{ .Avatar.String }}" alt="{{ .Username }}" />
        </div>
      {{ else }}
        <div class="avatar">
          <a href="/profiles/edit/{{ .Username }}">
            <box-icon
              name="user"
              color="white"
              type="solid"
              size="5rem"
              class="avatar-placeholder__icon"
            ></box-icon>
          </a>
        </div>
      {{ end }}
    </div>
    <div class="profile__content">
      <h4>{{ .Username }}</h4>
    </div>
    <div class="profile__actions">
      <button>Follow Back</button>
    </div>
  </div>
{{ end }}
