{{ define "title" }}Relationship{{ end }}

{{ define "content" }}
  <div id="relationship">
    <div id="toolbar" class="toolbar">
      <a href="#" class="toolbar__link active">All</a>
      <a href="#" class="toolbar__link">Follows</a>
      <a href="#" class="toolbar__link">Replies</a>
      <a href="#" class="toolbar__link">Repost</a>
    </div>
    <div id="content"></div>
  </div>
{{ end }}

{{ define "style" }}
  <style type="text/css"></style>
{{ end }}
