{{ define "title" }}Relationship{{ end }}

{{ define "content" }}
  <div id="activities">
    <div id="toolbar" class="toolbar">
      <a
        href="#"
        class="toolbar__link active"
        hx-get="/activities/all"
        hx-target="#display"
        hx-swap="innerHTML"
        hx-trigger="load, click"
      >
        All
      </a>
      <a
        href="#"
        class="toolbar__link"
        hx-get="/activities/follows"
        hx-target="#display"
        hx-swap="innerHTML"
        hx-trigger="load, click"
      >
        Follows
      </a>
      <a
        href="#"
        class="toolbar__link"
        hx-get="/activities/replies"
        hx-target="#display"
        hx-swap="innerHTML"
        hx-trigger="load, click"
      >
        Replies
      </a>
      <a
        href="#"
        class="toolbar__link"
        hx-get="/activities/repost"
        hx-target="#display"
        hx-swap="innerHTML"
        hx-trigger="load, click"
      >
        Repost
      </a>
    </div>
    <div id="display" class="profile-list"></div>
  </div>
{{ end }}

{{ define "style" }}
  <style type="text/css">
    .toolbar {
      margin-bottom: 2rem;
    }

    .profile-list {
      max-width: 620px;
      margin: 0 auto;
    }

    .profile {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem 0;
      border-bottom: 1px solid var(--pico-secondary-background);
    }

    .profile__image {
      flex: 0 0 2.5rem;
    }

    .profile__content {
      margin: 0 auto 0 0;
    }

    .profile__button {
      padding: 0.25rem 1rem;
    }

    .avatar-placeholder__icon {
      margin-top: 1.5rem;
    }
  </style>
{{ end }}

{{ define "script" }}
  <script type="application/javascript">
    toggleActive("#toolbar");
  </script>
{{ end }}
