{{ define "title" }}Forgot Password{{ end }}

{{ define "content" }}
  <article class="forgot">
    <div class="header">
      <h1 class="header__heading">Forgot Password?</h1>
      <p class="header__description">
        Enter your email, phone, or username and we'll send you a link to get
        back into your account..
      </p>
    </div>
    <form action="/auth/forgot" method="post" id="forgot__form">
      <fieldset>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          autocomplete="email"
          aria-label="Email"
          class="forgot__input"
          required
        />
      </fieldset>

      <button class="forgot__button">Send Login Link</button>
    </form>
    <div class="links">
      <a href="#" class="links__link">Can't reset password?</a>
    </div>
  </article>
{{ end }}

{{ define "script" }}
  <script type="text/javascript">
    window.addEventListener("load", (e) => {
      const validator = new window.JustValidate("#forgot__form");
      validator
        .addField("#email", [
          {
            rule: "required",
            message: "Email is required",
          },
          {
            rule: "email",
            message: "Please enter a valid email",
          },
        ])
        .onSuccess((event) => {
          document.getElementById("forgot__form").submit();
        });
    });
  </script>
{{ end }}
