/* Global Variables */
:root {
  --header-height: 7vh;
  --transition-speed: 0.2s;
  --menu_opacity: 0.95;
}

/****************************************** 
* Layout Styling
*******************************************/
/* Body Styling */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styling */
body > header,
body > main {
  padding-block: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--pico-background-color);
  opacity: var(--menu_opacity);
  z-index: 10;
}

/* Logo Styling */
#logo {
  margin-top: 0.7rem;
  text-align: center;
}

#logo img {
  width: 3rem;
}

/* Primary Menu - fixed on bottom */
#primary-menu {
  position: fixed;
  bottom: -1px;
  height: 4rem;
  background-color: var(--pico-background-color);
  opacity: var(--menu_opacity);
  transition: var(--transition-speed);
  z-index: 10;
}
#primary-menu ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

#primary-menu li {
  padding: 0;
}

@media (min-width: 768px) {
  /* #primary-menu li {
    display: inline;
  }

  #primary-menu a {
    color: white;
    font-size: 1.1rem;
  } */
}

/* Hamburger Styling */
#hamburger {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0.7rem;
  margin-right: 1.5rem;
  opacity: 0.5;
}

/* Secondary Menu Styling */
#secondary-menu {
  transition: var(--transition-speed);
  opacity: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  margin-top: 0.25rem;
  right: 0.5rem;
  z-index: 10;
}

.change #secondary-menu {
  visibility: visible;
  height: auto;
  opacity: 1;
}

#secondary-menu ul {
  min-width: 10rem;
  width: 30vw;
  padding: 0;
  background-color: var(--pico-form-element-background-color);
  border-radius: 10px;
}

#secondary-menu li {
  border-bottom: var(--pico-secondary) 1px solid;
  list-style: none;
}

#secondary-menu li:last-child {
  border-bottom: none;
}

#secondary-menu li a {
  display: block;
  padding: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--pico-primary-inverse);
}

#secondary-menu li a:hover {
  background-color: var(--pico-secondary-hover);
}

/* Main Styling */
main {
  margin-top: calc(var(--header-height) + 1rem);
}

/* Thread Styling */
/* Username & Thread */
.username {
  margin-bottom: 0.2rem;
}

.username a,
.thread a {
  color: var(--pico-primary-inverse);
  text-decoration: none;
}

.username a:hover {
  text-decoration: underline;
}

/****************************************** 
* Reusable Component Styling
*******************************************/
/* Avatar Placeholder */
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--pico-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-placeholder__icon {
  margin-top: 0.6rem;
}

/* Thread Styling */
.thread {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--pico-secondary-border);
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  z-index: 0;
}

.thread__username {
  margin-bottom: 0.2rem;
}

.thread__username:hover {
  text-decoration: underline;
}

.thread__content {
  margin-bottom: 0.5rem;
}

.thread__icons {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

/* Header Override */
.header-override {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--pico-secondary-border);
}

.header-override__box {
  padding: 1rem;
}

.header-override__cancel,
.header-override__submit {
  text-decoration: none;
}

.header-override__description {
  font-size: 1rem;
}

/* Form Styling */
.form-container {
  padding: 1.5rem;
}

form button {
  width: 100%;
}

/* Activity Component Styling */
.toolbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.toolbar__link {
  border: 1px solid #ccc;
  border-radius: 7px;
  text-decoration: none;
  color: var(--pico-primary-inverse);
  display: inline-block;
  padding: 0.25rem 1.5rem;
}

.toolbar__link.active {
  background-color: var(--pico-primary-inverse);
  color: var(--pico-primary);
}

/****************************************** 
* Individual Template Styling
*******************************************/
/* Profiles - Show Page */
#profile {
  height: 8rem;
  margin-bottom: 1rem;
}
#profile::after {
  content: "";
  clear: both;
}

#profile__left {
  float: left;
  width: 50%;
}

#profile__right {
  float: right;
  width: 50%;
}

.profile__heading {
  margin-bottom: 0.5rem;
}

#follower {
  margin-top: 1.2rem;
}

.edit-profile__button {
  width: 100%;
  background-color: var(--pico-muted-border-color);
  font-weight: 900;
  border-color: var(--pico-secondary-border);
}

.private-profile {
  display: flex;
  justify-content: space-between;
}

/* Activities */
#activity {
  margin-top: 1rem;
}

#activity__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  text-align: center;
}

.activity__link {
  display: inline-block;
  width: 33.33%;
  padding: 0.5rem 0;
  text-decoration: none;
  font-weight: 900;
  border-bottom: 1px solid var(--pico-muted-border-color);
}

.activity__link.active {
  border-bottom: 1px solid var(--pico-primary-border);
}

/* Search - Index Page */
.search__form {
  display: flex;
}

.search__btn {
  flex: 0 0 50px;
  height: 50px;
}

.trend {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.trend__ranking {
  border: 1px solid var(--pico-secondary-background);
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

.trend__container {
  flex: 1;
}

.trend__username {
  margin-bottom: 0.2rem;
}

.trend-username__link {
  color: var(--pico-primary-inverse);
  text-decoration: none;
}

.trend-content__link {
  color: var(--pico-primary-color);
  text-decoration: none;
}

/* Profile - Index Page */
.profile-list {
  max-width: 620px;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--pico-secondary-background);
}

.profile__image {
  flex: 0 0 2.5rem;
}

.profile__content {
  margin: 0 auto 0 0;
}

.profile__button {
  padding: 0.25rem 1rem;
}
