/* Global Variables */
:root {
  --header-height: 5.5rem;
  --transition-speed: 0.2s;
}

/* Body Styling */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nav Styling */
header nav {
  background-color: var(--pico-primary-background);
  width: 100vw;
  height: var(--header-height);
  padding-block: 0;
}

header .logo {
  text-align: center;
}

header .logo img {
  width: 3rem;
}

/* Navigation Styling */

/* Overlay Menu Toggling */
#primary-nav ul {
  position: fixed;
  bottom: 0;
  transition: var(--transition-speed);
}

#primary-nav.change ul {
  transition: var(--transition-speed);
  left: 0;
}

#primary-nav li {
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

#primary-nav li a {
  color: var(--pico-primary-inverse);
}

#primary-nav li a:hover {
  color: var(--pico-primary-hover);
  text-decoration: none;
}

@media (min-width: 768px) {
  #primary-nav ul {
    display: flex;
    gap: 3vw;
    position: static;
    z-index: 0;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  #primary-nav li {
    display: inline;
  }

  #primary-nav a {
    color: white;
    font-size: 1.1rem;
  }
}

/* Main Styling */
main {
  margin-top: calc(var(--header-height) + 1rem);
}
