/* Global Variables */
:root {
  --header-height: 5.5rem;
  --transition-speed: 0.2s;
}

/* Body Styling */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Nav Styling */
header nav {
  background-color: var(--pico-primary-background);
  width: 100vw;
  height: var(--header-height);
  padding-block: 0;
}

header .logo {
  text-align: center;
}

header .logo img {
  width: 3rem;
}

/* Primary Navigation - fixed on bottom */
#primary-nav {
  position: fixed;
  bottom: -1px;
  height: 4rem;
  background-color: var(--pico-background-color);
  opacity: 0.9;
  transition: var(--transition-speed);
}
#primary-nav ul {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

#primary-nav li {
  padding: 0;
}

@media (min-width: 768px) {
  #primary-nav ul {`
    
  }

  #primary-nav li {
    display: inline;
  }

  #primary-nav a {
    color: white;
    font-size: 1.1rem;
  }
}

/* Menu Styling */

/* Main Styling */
main {
  margin-top: calc(var(--header-height) + 1rem);
}
