/* Global Variables */
:root {
  --header-height: 5.5rem;
  --transition-speed: 0.2s;
}

/* Body Styling */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styling */
body > header {
  background-color: var(--pico-primary-background);
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  padding-block: 0;
}

header > nav {
  position: relative;
}

header .logo img {
  height: 3.8rem;
  margin-top: var(--pico-block-spacing-vertical);
}

/* Overlay Menu Toggling */
#primary-nav ul {
  position: fixed;
  display: block;
  background-color: var(--pico-primary-background);
  margin: 0;
  padding: var(--header-height) 0 0 2rem;
  top: 0;
  left: 100vw;
  width: 120vw;
  height: 100vh;
  z-index: -1;
  transition: var(--transition-speed);
}

#primary-nav.change ul {
  transition: var(--transition-speed);
  left: 0;
}

#primary-nav li {
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

#primary-nav li a {
  color: var(--pico-primary-inverse);
}

#primary-nav li a:hover {
  color: var(--pico-primary-hover);
  text-decoration: none;
}

@media (min-width: 768px) {
  #primary-nav ul {
    display: flex;
    gap: 3vw;
    position: static;
    z-index: 0;
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  #primary-nav li {
    display: inline;
  }

  #primary-nav a {
    color: white;
    font-size: 1.1rem;
  }
}

/* Main Styling */
main {
  margin-top: calc(var(--header-height) + 1rem);
}

/* Footer Styling */
footer {
  font-size: 1rem;
  margin-top: auto;
  text-align: center;
}

footer .legal {
  font-size: 0.7rem;
  color: var(--pico-muted-color);
}

footer .legal a {
  color: var(--pico-muted-color);
  text-decoration: none;
  margin-left: 1rem;
}
