/****************************************************
* Global Variable
****************************************************/
:root {
  --pico-font-size: 100%;
}

/****************************************************
* Reusable Components
****************************************************/

/* Hamburger Styling */
#hamburger .bar1,
#hamburger .bar2,
#hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--pico-primary-background);
  margin: 6px 0;
  transition: var(--transition-speed);
}

[data-theme="dark"] #hamburger .bar1,
[data-theme="dark"] #hamburger .bar2,
[data-theme="dark"] #hamburger .bar3 {
  background-color: var(--pico-color);
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Flash Styling */
.flash {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.flash.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.flash.notice {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.flash.alert {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.flash.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Form Styling */
fieldset {
  margin-bottom: 0;
}

[data-theme="dark"] input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--pico-contrast-background) inset;
  -webkit-text-fill-color: var(--pico-contrast-inverse) !important;
}

/* Form Validation Styling */
.just-validate-success-field {
  border-color: #28a745;
  border-width: 2px;
}

.just-validate-error-field {
  border-color: #dc3545;
  border-width: 2px;
}

.just-validate-error-label {
  margin-bottom: var(--pico-spacing);
}

/* Toggle Style */
.toggle__label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: var(--pico-secondary-hover-border);
  border-radius: 30px;
  border: 0px solid gray;
}

.toggle__label:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--pico-form-element-border-color);
  top: 0px;
  left: 0px;
  transition: all 0.5s;
}

.toggle__checkbox:checked + .toggle__label::after {
  left: 25px;
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--pico-color);
}

.toggle__checkbox {
  display: none;
}

.toggle__label:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--pico-form-element-border-color);
  top: 0px;
  left: 0px;
  transition: all var(--transition-speed);
}

/* Button to Link Style */
.button-to-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: var(--pico-color);
  text-decoration: underline;
  cursor: pointer;
  width: auto;
  font-weight: 900;
  text-decoration: none;
}

#profile-photo-delete__form {
  text-align: center;
}
