{{ define "title" }}Search{{ end }}

{{ define "content" }}
  <div id="search">
    <form action="/search" method="GET" class="search__form">
      <fieldset>
        <input type="text" name="q" placeholder="Search" />
      </fieldset>
      <button class="search__btn">
        <box-icon name="search" color="white"></box-icon>
      </button>
    </form>
  </div>

  <div id="latest-trends">
    <h6>Latest Trends</h6>
    {{ if .Threads }}
      {{ range $i, $t := .Threads }}
        <article class="trend">
          <aside class="trend__aside">
            <div class="trend__ranking">
              {{ $i }}
            </div>
          </aside>
          <div class="trend__container">
            {{ template "username" $t }}
            {{ template "thread-content" $t }}
          </div>
        </article>
      {{ end }}
    {{ else }}
      <a href="/threads/new">
        <button>Start the first thread</button>
      </a>
    {{ end }}
  </div>
{{ end }}

{{ define "scripts" }}
  <script>
    document.querySelector("#search input[type='text']").focus();
  </script>
{{ end }}
