{{ template "base" . }} {{ define "content" }}
<article class="login">
  <div class="heading">
    <h1>Login to Goti</h1>
    <p>Login with your GoTi credentials.</p>
  </div>
  <form action="/auth/login" method="post" id="login">
    <fieldset>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Username"
        aria-label="Text"
      />
      <input
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
        aria-label="Email"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        aria-label="Password"
      />
    </fieldset>

    <button>Login</button>
  </form>
  <div class="links">
    <a href="/auth/register">Register?</a>
    <a href="/auth/forgot-password">Forgot password?</a>
  </div>
</article>
{{ end }} {{ define "style" }}
<style>
  .login {
    background-color: var(--pico-contrast-background);
    max-width: 700px;
    margin: 0 auto;
  }

  .login input {
    background-color: var(--pico-contrast-background);
    color: var(--pico-contrast-inverse);
  }

  .login button {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .login h1,
  .login p,
  .login label {
    color: var(--pico-contrast-inverse);
  }

  .login input[type="checkbox"]:checked {
    background-color: var(--pico-primary);
  }

  .links {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .links a {
    text-decoration: none;
  }
</style>
{{ end }} {{ define "script" }}
<script
  type="text/javascript"
  src="/static/scripts/just-validate.production.min.js"
></script>
<script type="text/javascript">
  // Validator Todo
  // const validate = new window.JustValidate("#register");
</script>
{{ end }}
