{{ define "base" }}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="icon" href="/static/images/favicon.svg" type="image/x-icon" />

    <!-- Eventually we will allow custom Pico themes editing a config file -->
    <link rel="stylesheet" href="/static/css/themes/pico.min.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body>
    <header>
      {{template "navigation" .}}
    </header>

    <main>
      <div class="container">{{ block "content" .}}{{ end }}</div>
    </main>

    <footer class="container">
      <div class="legal">
        <span class="copyright">Copyright &copy;2024 Larry LW Chan</span>
      </div>
    </footer>

    <!-- All Style Scripts Here -->
    {{ block "style" .}}{{ end }}

    <!-- All JS Scripts Here -->
    <script src="/static/scripts/global.js"></script>
    <script src="/static/scripts/htmx.min.js"></script>
    {{ block "script" .}}{{ end }}
  </body>
</html>

{{ end }}
