{{ define "base" }}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "title" .}}{{ end }}</title>

    <link rel="icon" href="/static/images/favicon.svg" type="image/x-icon" />

    <!-- Eventually we will allow custom Pico themes editing a config file -->
    <link rel="stylesheet" href="/static/css/themes/pico.min.css" />
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <div class="logo">
          <a href="/">
            <img src="/static/images/logo.svg" alt="Logo" />
          </a>
        </div>
        <div id="primary-nav">
          <div class="hamburger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/pages/about">About</a></li>
            <li><a href="/pages/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {{ if .Flash.Message }}
        <div class="flash {{ .Flash.Type }}">
          {{ .Flash.Message }}
        </div>
        {{ end }}

        {{ template "content" .}}
      </div>
    </main>

    <footer class="container">
      <div class="legal">
        <a href="https://github.com/larry-lw-chan">&copy;2024 Larry Chan</a>
        <a href="/pages/privacy">Privacy Policy</a>
      </div>
    </footer>

    <!-- All Style Scripts Here -->
    {{ block "style" .}}{{ end }}

    <!-- All JS Scripts Here -->
    <script src="/static/scripts/global.js"></script>
    <script src="/static/scripts/htmx.min.js"></script>
    <script src="/static/scripts/just-validate.production.min.js"></script>
    {{ block "script" .}}{{ end }}
  </body>
</html>

{{ end }}
